table {
  width: 100%;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.mat-column-actions{
    width: 13%;
    padding-right: 0px !important;
}

.nodata {
    background: white; box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12)
}