<div class="col-12 mt-4">
  <div class="col-12">
    <label>
      <h3>Users</h3>
    </label>
    <button class="btn btn-primary float-right" [routerLink]="['/user']">Add User</button>
  </div>
</div>

<div class="col-12">

  <mat-form-field class="col-12 p-0">
    <input matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="searchText" placeholder="Search here...">
    <span *ngIf="searchText" class="clear" (click)="clearSearchText()"><i class="fa fa-times pointer"
        aria-hidden="true"></i></span>
  </mat-form-field>

  <table class="table table-striped table-responsive-md" *ngIf="usersList.length > 0">
    <thead>
      <tr>
        <th>User Name <span class="col-12 pointer" (click)="sort('userName')"><i
              [ngClass]="isDesc ? 'fa fa-arrow-up' : 'fa fa-arrow-down'"></i></span></th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Role</th>
        <th>Address</th>
        <th>Url</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of usersList| orderBy:sortingName:isDesc">
        <td>{{user.userName}}</td>
        <td>{{user.emailId}}</td>
        <td>{{user.phoneNumber}}</td>
        <td>{{user.role}}</td>
        <td>{{user.address}}</td>
        <td>{{user.url}}</td>
        <td class="">
          <span><i class="fa fa-edit text-success m-2 pointer" title="edit user"
              [routerLink]="['/user', user.userId]"></i></span>
          <span (click)="deleteUser(user.userId)"><i class="fa fa-trash text-danger m-2 pointer"
              title="delete user"></i></span>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="col-12 text-center mt-2" *ngIf="usersList.length === 0">No data avilable</div>
</div>